/* Estilos para la cabecera */
header {
	background-color: #FFFFFF;
	max-width: 1500px; /* ajusta el ancho máximo según tus necesidades */
	display: flex;
	align-items: center;
	height: 88px;
}

/* Estilos para el pie de página */
footer {
	background-color: #333;
	color: #fff;
	display: flex;
	align-items: center;
	height: 50px;
	padding: 10px;
	position: absolute;
	bottom: 0;
	width: 98%;
	max-width: 1500px;
	margin: 0 auto;
	display: flex;
}

.footer-registro {
	background-color: #333;
	color: #fff;
	display: flex;
	align-items: center;
	height: 50px;
	padding: 10px;
	position: absolute;
	bottom: -230px;
	width: 98%;
	max-width: 1500px;
	margin: 0 auto;
	display: flex;
}

.right-text-footer {
	margin-left: auto;
}
  
.left-text-footer {
	margin-right: auto;
}

/*Estilos inicio*/
.msj-bienvenida{
	transform: translate(17%, 180%);
}

.inicio{
	transform: translate(-5%, 10%);
}

 /* Estilos para el botón de empezar */
 .btn-empezar {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: #2230CA;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	margin-left: 10px;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-350%, -40%);
  }

.btn-empezar:hover {
	background-color: #4A57E8 ;
}

/* Estilos para los botones del encabezado */
.btn-header {
	background-color: transparent;
	border: none;
	color: #646262;
	cursor: pointer;
	font-size: 16px;
	margin: 0 10px;
	padding: 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
  
.btn-header:hover {
	color: #a8a8a8;
}
  
.btn-header:focus {
	outline: none;
}
  
/* Estilos para la imagen */
.img-UBU {
	height: auto; /* Ajusta la altura proporcionalmente */
	max-width: 97px; /* Cambiar px al ancho que quieras */
	display: block; /* Para centrar horizontalmente la imagen */
	margin: 0 auto; /* Para centrar horizontalmente la imagen */	  
}

.img-UBU-sin-btn {
	height: auto; /* Ajusta la altura proporcionalmente */
	max-width: 97px; /* Cambiar px al ancho que quieras */
	display: block; /* Para centrar horizontalmente la imagen */
	margin: 0 auto; /* Para centrar horizontalmente la imagen */	 
	transform: translate(-130%, 0%); 
}

.img-escudo {
	height: auto; /* Ajusta la altura proporcionalmente */
	max-width: 70px; /* Cambiar px al ancho que quieras */
	display: block; /* Para centrar horizontalmente la imagen */
	margin: 0 auto; /* Para centrar horizontalmente la imagen */
	margin-left: 20px; /* Para mover la imagen hacia la derecha */
  }
  
.img-provisional{
	height: auto;
	max-width: 600px;
	display: block;
	margin: -50px 0 0 auto;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
	border-radius: 50px;
	border: 2px solid #2230CA;
  }
  
 /* Estilos para el botón de inicio de sesión */
.btn-login{
	background-color: #2230CA;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	float: right;
	margin-left: 10px;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
  }
  
.btn-login:hover {
	background-color: #4A57E8 ;
}



 /* Estilos para el botón de login */
input[type="submit"] {
	background-color: #2230CA;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	padding: 10px;
	width: 100%;
}

input[type="submit"]:hover {
	background-color: #4A57E8;
}





/* Estilos para la barra de búsqueda 
.search-container {
    display: flex;
    align-items: center;
	width: 300px;
	width: 100%;
}

.search-container input[type=text] {
    padding: 10px;
    border: none;
    font-size: 17px;

}
*/

.busqueda {
	display: flex;
	align-items: center;
  }
/*
.busqueda input[type=text] {
	padding: 10px;
	border: none;
	font-size: 17px;
	flex: 1;
}*/

.btn-buscar {
    padding: 10px;
    background: #2230CA;
    color: white;
    border: none;
    font-size: 17px;
    cursor: pointer;
	border-radius: 10px;
	margin-left: 20px;
    margin-bottom: 20px;
}

.btn-buscar:hover {
    background: #4A57E8;
}
















/* Estilos para el campo de edad */
label[for="edad"] {
	display: block;
	margin-top: 20px;
	font-weight: bold;
	padding-top: 10px;
    padding-bottom: 10px;
  }
  
  input[type="number"] {
	padding: 10px;
	border-radius: 5px;
	border: 2px solid #ccc;
	font-size: 16px;
	margin-bottom: 20px; /* Agregar margen inferior de 20px */
  }
  
  
  
/**********************************************************
*/
  
  
select#genero {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	background-color: #f1f1f1;
	font-size: 16px;
	margin-bottom: 20px; /* Agregar margen inferior de 20px */
  }
  
  select#genero:focus {
	outline: none;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  select#genero option {
	font-size: 16px;
	background-color: white;
	color: black;
  }
  
/**********************************************************
*/

body {
	background-color: #f2f2f2;
	font-family: Arial, sans-serif;
	padding: 10px;
}

.body-registro {
	background-color: #f2f2f2;
	font-family: Arial, sans-serif;
	padding: 10px;
	padding-bottom: 50px;
	min-height: 110vh;
}

h1 {
	color: #333;
	text-align: center;
}

form {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #999;
	margin: auto;
	max-width: 400px;
	padding: 20px;
	width: 100%;
}

.form-buscar {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #999;
	margin: auto;
	max-width: 800px; /* Aumenta la anchura máxima */
	height: 57px;
	padding: 7px;
	width: 100%; /* Opcional, ajusta según tus necesidades */
}

label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	display: block;
	font-size: 16px;
	margin-bottom: 20px;
	padding: 10px;
	width: 100%;
}



.error {
	color: red;
	margin-top: 10px;
	text-align: center;
}

  

  

  
/* Estilos para el título */
h1 {
	color: #333333;
	font-size: 36px;
	font-weight: bold;
	margin-top: 40px;
	text-align: center;
}
  
/* Estilos para los botones */
.btn {
	background-color: #4CAF50;
	border-radius: 5px;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 10px;
	cursor: pointer;
}
.btn:hover {
	background-color: #3E8E41;
}
























.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
  }
  
  .card img {
	width: 100%;
	height: auto;
	border-radius: 5px;
	margin-bottom: 10px;
  }
  
  .card h3 {
	font-size: 20px;
	margin: 0;
  }
  
  .card p {
	font-size: 16px;
	margin: 10px 0;
  }
  
  .card ul {
	list-style: none;
	padding: 0;
	margin: 0;
  }
  
  .card li {
	font-size: 14px;
	margin: 5px 0;
  }
  
  .card a {
	background-color: #2230CA;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px;
	text-decoration: none;
	margin-top: 10px;
  }
  
  .card a:hover {
	background-color: #4A57E8;
  }
  



  .card-container {
	max-width: 800px; /* Establece el ancho máximo */
	margin: auto; /* Centra el contenedor horizontalmente */
  }
  
  .card {
	display: inline-block; /* Muestra las tarjetas una al lado de la otra */
	width: 200px; /* Establece el ancho de cada tarjeta */
	margin: 10px; /* Agrega un margen entre las tarjetas */
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #999;
	padding: 20px;
  }

  


.card {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 10px #ccc;
	padding: 20px;
	width: 300px;
	height: 250px;
  }
  
  .card-img {
	height: 200px;
	width: 100%;
	object-fit: cover;
	border-radius: 10px;
  }
  
  .card-title {
	font-size: 24px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 10px;
  }
  
  .card-description {
	font-size: 16px;
	margin-bottom: 10px;
  }
  
  .card-tags {
	display: flex;
	flex-wrap: wrap;
	margin-top: 10px;
  }
  
  .card-tag {
	background-color: #eee;
	border-radius: 20px;
	font-size: 14px;
	padding: 5px 10px;
	margin-right: 10px;
	margin-bottom: 5px;
  }
  


  .card-container {
	display: inline-flex;
	max-width: 100%;
  }
  
  .card {
	max-width: 300px;
	margin-right: 10px;
	margin-bottom: 10px;
  }
  

/**********************SELECTS DE PUNTUACION E IDIOMA ***************************/
select {
	background-color: #fff;
	color: #666;
	border: 1px solid #ccc;
	font-size: 16px;
	padding: 10px;
	width: 200px;
	border-radius: 5px;
	height: 40px;
	cursor: pointer;
	margin-bottom: 30px;
	margin-top: 10px;
	margin-left: 15px;
}

select:hover, select:focus {
	border-color: #999;
}

select option {
	background-color: #fff;
	color: #666;
}
/********************************************************************************/