/*******************************************ESTILOS INICIO.HTML*******************************************/
.fondo-inicio {
  /*
  background: #373B44;
	background: -webkit-linear-gradient(to right, #4286f4, #373B44);
	background: linear-gradient(to right, #4286f4, #373B44);
  background-size: cover;
  min-height: 100%;
  */
  background-image: url('img/fondo3.png');
  background-size: cover;
  min-height: 100%;
}

.fondo-login {
  /*
  background: #373B44;
	background: -webkit-linear-gradient(to right, #4286f4, #373B44);
	background: linear-gradient(to right, #4286f4, #373B44);
  background-size: cover;
  min-height: 100%;
  */
  background-image: url('img/fondo1.png');
  background-size: cover;
  min-height: 100%;
}

.fondos {
  /*
  background: #373B44;
	background: -webkit-linear-gradient(to right, #4286f4, #373B44);
	background: linear-gradient(to right, #4286f4, #373B44);
  background-size: cover;
  min-height: 100%;
  */
  background-image: url('img/f1.jpg');
  background-size: cover;
  min-height: 100%;
}


.fondo-tarjeta {
  /*
  background: #373B44;
	background: -webkit-linear-gradient(to right, #4286f4, #373B44);
	background: linear-gradient(to right, #4286f4, #373B44);
  background-size: cover;
  min-height: 100%;
  */
  background-image: url('img/fdddd.jpg');
  background-size: 350px;
  background-position: center bottom;

}
  
.html-inicio, .body-inicio {
  height: 100%;
}

.btn-login {
    display: inline-block;
    background-color: #ffffff;
    color: #fdaa04;
    border-radius: 25px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 5px 12px;
    transition: background-color 0.3s ease;
  }
  
  .btn-login:hover {
    background-color: #fdaa04;
    color:#ffffff;
    cursor: pointer;
  }

  .btn-registro {
    display: inline-block;
    background-color: #fdaa04;
    color: #ffffff;
    border-radius: 25px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 5px 12px;
    transition: background-color 0.3s ease;
  }
  
  .btn-registro:hover {
    background-color: #ffffff;
    color: #fdaa04;
    cursor: pointer;
  }

  .btn-comenzar {
    display: inline-block;
    background-color: #ffffff;
    color: #fdaa04;
    border-radius: 25px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 5px 12px;
    transition: background-color 0.3s ease;
  }
  
  .btn-comenzar:hover {
    background-color: #fdaa04;
    color:#ffffff;
    cursor: pointer;
  }
  
.bandera-espana,
.bandera-inglaterra {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-size: cover;
	cursor: pointer;
}

.bandera-espana {
    background-image: url("https://cdn.countryflags.com/thumbs/spain/flag-round-250.png");
}

.bandera-inglaterra {
    background-image: url("https://cdn.countryflags.com/thumbs/united-kingdom/flag-round-250.png");
}

.color-texto {
    color: white !important;
}


.color-amarillo {
  color: #fdaa04;
}

.color-amarillo:hover {
  color:#ffffff;
  cursor: pointer;
}

/*******************************************ESTILOS LOGIN.HTML*******************************************/
.acerca-login{
	background-color: transparent;
	border: none;
	color: #fdaa04;
	cursor: pointer;
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
}

.acerca-login:hover {
    color:#373B44;
    cursor: pointer;
}

.btn-iniciar {
    display: inline-block;
    background-color: #fdaa04;
    color: #ffffff;
    border-radius: 25px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 5px 12px;
    transition: background-color 0.3s ease;
  }
  
  .btn-iniciar:hover {
    background-color: #ffffff;
    color: #fdaa04;
    cursor: pointer;
  }

/*******************************************ESTILOS REGISTRO.HTML*******************************************/
.btn-crear {
    display: inline-block;
    background-color: #fdaa04;
    color: #ffffff;
    border-radius: 25px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 5px 12px;
    transition: background-color 0.3s ease;
  }
  
.btn-crear:hover {
    background-color: #ffffff;
    color: #fdaa04;
    cursor: pointer;
}

/*******************************************ESTILOS AÑADIR_JUEGO.HTML*******************************************/
.btn-añadir-juego {
  display: inline-block;
  background-color: #fdaa04;
  color: #ffffff;
  border-radius: 25px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 5px 12px;
  transition: background-color 0.3s ease;
}

.btn-añadir-juego:hover {
  background-color: #ffffff;
  color: #fdaa04;
  cursor: pointer;
}

  /*******************************************ESTILOS MENU_JUEGO_PROFESOR.HTML*******************************************/
.btn-info-juego, .btn-modificar-juego, .btn-instrucciones {
  display: inline-block;
  background-color: #020014;
  color: #ffffff;
  border: none; /* eliminar el borde */
  border-radius: 25px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 5px 12px;
  transition: background-color 0.3s ease;
  }
  
  .btn-info-juego:hover, .btn-modificar-juego:hover, .btn-instrucciones:hover {
  background-color: #ffffff;
  color: #020014;
  cursor: pointer;
  text-decoration: underline; /* subrayar al pasar el cursor */
  }

  .form-btns {
    display: inline-block;
    margin-right: 10px;
  }

  /*******************************************ESTILOS MENU_JUEGO_USUARIO.HTML*******************************************/
.btn-info-juego, .btn-opinion {
  display: inline-block;
  background-color: #020014;
  color: #ffffff;
  border: none; /* eliminar el borde */
  border-radius: 25px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 5px 12px;
  transition: background-color 0.3s ease;
  }
  
  .btn-info-juego:hover, .btn-opinion:hover {
  background-color: #ffffff;
  color: #020014;
  cursor: pointer;
  text-decoration: underline; /* subrayar al pasar el cursor */
  }
  .card {
    height: 281px;
    
  }

  .card-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* máximo de líneas que quieres mostrar */
    font-size: 14px;
    overflow: hidden;
  }

  .li-text {
    font-size: 15px;
  }

  .estrella {
    color: #ffcc00;
  }
  
  .card-grande {
    width: 80%;
    margin: 0 auto;
  }

 /*******************************************ESTILOS AÑADIR ARCHIVOS*******************************************/
 .btn-cargar {
  display: inline-block;
  background-color: #fdaa04;
  color: #ffffff;
  border-radius: 25px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 5px 12px;
  transition: background-color 0.3s ease;
}

.btn-cargar:hover {
  background-color: #ffffff;
  color: #fdaa04;
  cursor: pointer;
}
 /*******************************************ESTILOS GENERALES*******************************************/
  .btn-cerrar, .btn-acerca, .help {
    display: inline-block;
    background-color: #ffffff;
    color: #fdaa04;
    border-radius: 25px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 5px 12px;
    transition: background-color 0.3s ease;
  }
  
  .btn-cerrar:hover, .btn-acerca:hover, .help:hover {
    background-color: #fdaa04;
    color: #ffffff;
    cursor: pointer;
  }
  
  .help i {
    margin-right: 5px; /* margen entre el icono y el texto */
  }

  .btn-contacto{
    display: inline-block;
    background-color: #fdaa04;
    color: #ffffff;
    border-radius: 25px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 5px 12px;
    transition: background-color 0.3s ease;
  }
  
  .btn-contacto:hover {
    background-color: #ffffff;
    color: #fdaa04;
    cursor: pointer;
  }

  /* Estilos para el botón de Aceptar */
  .btn-aceptar {
    display: inline-block;
    background-color: #1ca509;
    color: #ffffff;
    border-radius: 25px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 5px 12px;
    transition: background-color 0.3s ease;
  }
  
  .btn-aceptar:hover {
    background-color: #ffffff;
    color: #1ca509;
    cursor: pointer;
  }

  /* Estilos para el botón de Rechazar */
  .btn-rechazar {
    display: inline-block;
    background-color: #e12312;
    color: #ffffff;
    border-radius: 25px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 5px 12px;
    transition: background-color 0.3s ease;
  }
    
  .btn-rechazar:hover {
    background-color: #ffffff;
    color: #e12312;
    cursor: pointer;
  }

.custom-select:hover,
.custom-select:focus {
    background-color: #002267 !important;
    /* Otros estilos adicionales */
}
.color-texto::placeholder {
  color: white !important;
}


.btn-mn{
  display: inline-block;
  background-color: #ffffff;
  color: #002267 ;
  border-radius: 25px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 5px 12px;
  transition: background-color 0.3s ease;
}

.btn-mn:hover {
  background-color: #40fefe;
  color: #ffffff;
  cursor: pointer;
}

