<!DOCTYPE html>
<html>
  <head>
    <title>{{ traducciones['INICIO'][idioma] }}</title>
    <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
	<body class="fondos">
    <div class="container my-5">
      <div class="d-flex justify-content-center">
        <h1 class="mb-5 color-texto">{{ traducciones['TITULO-INICIO'][idioma] }}</h1>
      </div>
      <div class="row">
        <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
          <p class="lead color-texto">{{ traducciones['TEXTO-1'][idioma] }}</p>
          <p class="color-texto">{{ traducciones['TEXTO-2'][idioma] }}</p>
          <p class="color-texto">{{ traducciones['TEXTO-3'][idioma] }}</p>
          <p class="color-texto">{{ traducciones['TEXTO-4'][idioma] }}</p>
        </div>
      </div>
    </div>
  </body>
</html>