<!DOCTYPE html>
<html>
  <head>
    <title>Administrar usuarios</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>

  <body>
    <header>
      <button class="btn-header">{{ traducciones['ACERCA'][idioma] }}</button>
      <img src="/static/img/UBU-logo.jpg" alt="Logo de la Universidad de Burgos" class="img-UBU">
    </header>

    <h1>{{ traducciones['TITULO-INICIO'][idioma] }}</h1>
    <div class="card_visualizar_juego">
      <table>
        <thead>
          <tr>
            <th>{{ traducciones['ID-USUARIO'][idioma] }}</th>
            <th>{{ traducciones['USUARIO'][idioma] }}</th>
            <th>{{ traducciones['NOMBRE'][idioma] }}</th>
            <th>{{ traducciones['APELLIDO'][idioma] }}</th>
            <th>{{ traducciones['INSTITUCION'][idioma] }}</th>
            <th>{{ traducciones['ROL'][idioma] }}</th>
            <th>{{ traducciones['ACCIONES'][idioma] }}</th>
          </tr>
        </thead>
        <tbody>
          {% for usuario in usuarios %}
            <tr>
              <td>{{ usuario[0] }}</td>
              <td>{{ usuario[1] }}</td>
              <td>{{ usuario[2] }}</td>
              <td>{{ usuario[3] }}</td>
              <td>{{ usuario[4] }}</td>
              <td>{{ usuario[5] }}</td>
              <td>
                <form class="form-flecha" action="/administrar_usuarios?idioma={{ request.args.get('idioma') }}" method="POST">
                  <input type="hidden" name="id_usuario" value="{{ usuario[0] }}">
                  <button class="boton-eliminar-usuario" type="submit">{{ traducciones['ELIMINAR'][idioma] }}</button>
                </form>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <footer>
      <div class="left-text-footer">{{ traducciones['FOOTER'][idioma] }}</div>
      <img src="/static/img/escudo-politecnica.gif" alt="Escudo ingeniería informática" class="img-escudo">
      <div class="right-text-footer">Estela Victoria Ballester Delgado</div>
    </footer>
  </body>
</html>