<!DOCTYPE html>
<html lang="es">
  <head>
    <title>{{ traducciones['INICIO'][idioma] }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  </head>
  <body class="fondos">
    <header class="d-flex justify-content-between align-items-center p-3">
      <a href="acerca_de?idioma={{idioma}}"><button class="btn-mn">{{ traducciones['ACERCA'][idioma] }}</button></a>
      <img src="/static/img/logo_UBU.png" alt="Logo de la Universidad de Burgos" style="max-width: 7%;" class="mx-auto">
      <div>
        <a href="logout" class="btn-mn">{{ traducciones['BTN-CERRAR-SESION'][idioma] }}</a>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <h1 class="text-center my-4 color-texto">{{ traducciones['TITULO-INICIO'][idioma] }}</h1>
          <form action="/añadir_valoracion?id={{ request.args.get('id') }}&idioma={{ request.args.get('idioma') }}" method="POST">
            <div class="mb-3">
              <label class="color-texto" for="puntuacion">{{ traducciones['PUNTUACION'][idioma] }}</label>
              <div class="d-flex justify-content-center">
                <div class="estrellas">
                  <input type="radio" id="estrella1" name="puntuacion" value="1">
                  <label class="color-texto" for="estrella1">1<i class="fa fa-star estrella"></i></label>
                  <input type="radio" id="estrella2" name="puntuacion" value="2">
                  <label class="color-texto" for="estrella2">2<i class="fa fa-star estrella"></i></label>
                  <input type="radio" id="estrella3" name="puntuacion" value="3">
                  <label class="color-texto" for="estrella3">3<i class="fa fa-star estrella"></i></label>
                  <input type="radio" id="estrella4" name="puntuacion" value="4">
                  <label class="color-texto" for="estrella4">4<i class="fa fa-star estrella"></i></label>
                  <input type="radio" id="estrella5" name="puntuacion" value="5" required>
                  <label class="color-texto" for="estrella5">5<i class="fa fa-star estrella"></i></label>
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label class="color-texto" for="comentario">{{ traducciones['ESCRIBIR'][idioma] }}</label>
              <textarea class="form-control shadow bg-transparent color-texto" id="comentario" name="comentario" maxlength="1200" rows="5" 
              placeholder="{{ traducciones['ESCRIBIR-RESEÑA'][idioma] }}"></textarea>
            </div>
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn-mn" >{{ traducciones['BTN-ENVIAR'][idioma] }}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>