<!DOCTYPE html>
<html lang="es">
<head>
  <title>{{ traducciones['INICIO'][idioma] }}</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
  <header class="d-flex justify-content-between align-items-center p-3">
		<a href="acerca_de?idioma={{idioma}}"><button class="btn-acerca">{{ traducciones['ACERCA'][idioma] }}</button></a>
		<img src="/static/img/UBU-logo.jpg" alt="Logo de la Universidad de Burgos" style="max-width: 7%;" class="mx-auto">
		<div>
      <a href="logout" class="btn-cerrar">{{ traducciones['BTN-CERRAR-SESION'][idioma] }}</a>
		</div>
	</header>

  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1 class="text-center my-4">{{ traducciones['TITULO-INICIO'][idioma] }}</h1>
        <form action="/añadir_valoracion?id={{ request.args.get('id') }}&idioma={{ request.args.get('idioma') }}" method="POST">

          <div class="mb-3">
            <label for="puntuacion">{{ traducciones['PUNTUACION'][idioma] }}</label>
            <div class="estrellas">
              <input type="radio" id="estrella1" name="puntuacion" value="1">
              <label for="estrella1">1<i class="fa fa-star estrella"></i></label>
              <input type="radio" id="estrella2" name="puntuacion" value="2">
              <label for="estrella2">2<i class="fa fa-star estrella"></i></label>
              <input type="radio" id="estrella3" name="puntuacion" value="3">
              <label for="estrella3">3<i class="fa fa-star estrella"></i></label>
              <input type="radio" id="estrella4" name="puntuacion" value="4">
              <label for="estrella4">4<i class="fa fa-star estrella"></i></label>
              <input type="radio" id="estrella5" name="puntuacion" value="5" required>
              <label for="estrella5">5<i class="fa fa-star estrella"></i></label>
            </div>
          </div>

          <div class="mb-3">
            <label for="comentario">{{ traducciones['ESCRIBIR'][idioma] }}</label>
            <textarea class="form-control" id="comentario" name="comentario" rows="5"></textarea>
          </div>

          <div class="d-flex justify-content-center">
            <button type="submit" class="btn-añadir-juego" >{{ traducciones['BTN-ENVIAR'][idioma] }}</button>
          </div>

        </form>
      </div>
    </div>
  </div>

  <footer class="bg-light py-1 fixed-bottom">
		<div class="container-fluid">
			<div class="row justify-content-between">
				<div class="col-md-3 col-12 text-left">{{ traducciones['FOOTER'][idioma] }}</div>
				<div class="col-md-6 col-12 text-center">
					<img src="/static/img/escudo-politecnica.gif" alt="Escudo ingeniería informática" style="max-width: 7%;">
				</div>
				<div class="col-md-3 col-12 text-right">Estela Victoria Ballester Delgado</div>
			</div>
		</div>
	</footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
