<!DOCTYPE html>
<html>
	<head>
		<title>{{ traducciones['INICIO'][idioma] }}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	</head>

	<body>
		<header class="d-flex justify-content-between align-items-center p-3">
			<a href="acerca_de?idioma={{idioma}}"><button class="btn-acerca">{{ traducciones['ACERCA'][idioma] }}</button></a>
			<img src="/static/img/UBU-logo.jpg" alt="Logo de la Universidad de Burgos" style="max-width: 7%;" class="mx-auto">
			<div>
				<a href="logout" class="btn-cerrar">{{ traducciones['BTN-CERRAR-SESION'][idioma] }}</a>
			</div>
		</header>

		<div class="container my-5">
			<div class="d-flex justify-content-center">
				<h1>{{ traducciones['TITULO-INICIO'][idioma] }}</h1>
			</div>

			<form action="/añadir_juego?idioma={{ request.args.get('idioma') }}" method="POST">

				<div class="form-group">
					<label for="nombre_juego">{{ traducciones['NOMBRE_JUEGO'][idioma] }}</label>
					<input type="text" class="form-control" id="nombre_juego" name="nombre_juego" required>
				</div>

				<div class="form-group">
					<label for="descripcion">{{ traducciones['DESCRIPCION'][idioma] }}</label>
					<textarea class="form-control" id="descripcion" name="descripcion" rows="4" cols="50" 
						placeholder="{{ traducciones['ESCRIBIR-DESCRIPCION'][idioma] }}" required></textarea>
				</div>

				<div class="form-group">
					<label for="idiomaN">{{ traducciones['IDIOMA'][idioma] }}</label>
					<select class="form-control" id="idiomaN" name="idiomaN" required>
						<option value="">{{ traducciones['OPCION'][idioma] }}</option>
						<option value="{{ traducciones['ES'][idioma] }}">{{ traducciones['ES'][idioma] }}</option>
						<option value="{{ traducciones['EN'][idioma] }}">{{ traducciones['EN'][idioma] }}</option>
					</select>
				</div>

				<div class="form-group">
					<label for="enlace">{{ traducciones['ENLACE'][idioma] }}</label>
					<input type="text" class="form-control" id="enlace" name="enlace" required>
				</div>
				
				<div class="form-group">
					<label for="puntuacion">{{ traducciones['PUNTUACION'][idioma] }}</label>
					<select class="form-control" id="puntuacion" name="puntuacion" required>
						<option value="">{{ traducciones['OPCION'][idioma] }}</option>
						<option value="5.0">5.0</option>
						<option value="4.0">4.0</option>
						<option value="3.0">3.0</option>
						<option value="2.0">2.0</option>
						<option value="1.0">1.0</option>
					</select>
				</div>
				
				<div class="d-flex justify-content-center">
					<h3>{{ traducciones['TITULO-CATEGORIZACION'][idioma] }}</h3>
				</div>

				<div class="form-group">
					<label for="disciplina">{{ traducciones['DISCIPLINA'][idioma] }}</label>
					<input type="text" class="form-control" id="disciplina" name="disciplina" required>
				</div>


				<div class="form-group">
					<label for="naturaleza">{{ traducciones['NATURALEZA'][idioma] }}</label>
					<select class="form-control" id="naturaleza" name="naturaleza" required>
					<option value="">{{ traducciones['OPCION'][idioma] }}</option>
					<option value="{{ traducciones['ONLINE'][idioma] }}">{{ traducciones['ONLINE'][idioma] }}</option>
					<option value="{{ traducciones['DESCARGABLE'][idioma] }}">{{ traducciones['DESCARGABLE'][idioma] }}</option>
					</select>
				</div>

				<div class="form-group">
					<label for="precio">{{ traducciones['PRECIO'][idioma] }}</label>
					<select class="form-control" id="precio" name="precio" required>
					<option value="">{{ traducciones['OPCION'][idioma] }}</option>
					<option value="{{ traducciones['PAGO'][idioma] }}">{{ traducciones['PAGO'][idioma] }}</option>
					<option value="{{ traducciones['GRATUITO'][idioma] }}">{{ traducciones['GRATUITO'][idioma] }}</option>
					</select>
				</div>
			
				<div class="form-group">
					<label for="instrucciones">{{ traducciones['ISNTRUCCIONES_JUGADOR'][idioma] }}</label>
					<select class="form-control" id="instrucciones" name="instrucciones" required>
						<option value="">{{ traducciones['OPCION'][idioma] }}</option>
						<option value="{{ traducciones['YES'][idioma] }}">{{ traducciones['YES'][idioma] }}</option>
						<option value="no">No</option>
					</select>
				</div>

				<div class="form-group">
					<label for="notas_instructor">{{ traducciones['INSTRUCCIONES_INSTRUCTOR'][idioma] }}</label>
					<select class="form-control" id="notas_instructor" name="notas_instructor" required>
						<option value="">{{ traducciones['OPCION'][idioma] }}</option>
						<option value="{{ traducciones['YES'][idioma] }}">{{ traducciones['YES'][idioma] }}</option>
						<option value="no">No</option>
					</select>
				</div>

				<div class="d-flex justify-content-center">
					<h3>{{ traducciones['TITULO-DESCRIPCION'][idioma] }}</h3>
				</div>

				<div class="form-group">
					<label for="objetivos">{{ traducciones['OBJETIVOS'][idioma] }}</label><br>
					<textarea class="form-control" id="objetivos" name="objetivos" rows="4" cols="50"
					placeholder="{{ traducciones['ESCRIBIR-OBJETIVOS'][idioma] }}"></textarea>
				</div>

				<div class="form-group">
					<label for="espacio_control">{{ traducciones['ESPACIO_CONTROL'][idioma] }}</label><br>
					<textarea class="form-control" id="espacio_control" name="espacio_control" rows="4" cols="50"
					placeholder="{{ traducciones['ESCRIBIR-CONTROL'][idioma] }}"></textarea>
				</div>


				<div class="d-flex justify-content-center">
					<h3>{{ traducciones['TITULO-APRENDIZAJE'][idioma] }}</h3>
				</div>

				<div class="form-group">
					<label for="objetivos_principales">{{ traducciones['OBJETIVOS_PRINCIPALES'][idioma] }}</label><br>
					<textarea class="form-control" id="objetivos_principales" name="objetivos_principales" rows="4" cols="50"
					placeholder="{{ traducciones['ESCRIBIR-PRINCIPALES'][idioma] }}"></textarea>
				</div>

				<div class="form-group">
					<label for="objetivos_secundarios">{{ traducciones['OBJETIVOS_SECUNDARIOS'][idioma] }}</label><br>
					<textarea class="form-control" id="objetivos_secundarios" name="objetivos_secundarios" rows="4" cols="50"
					placeholder="{{ traducciones['ESCRIBIR-SECUNDARIOS'][idioma] }}"></textarea>
				</div>

				<div class="d-flex justify-content-center">
					<h3>{{ traducciones['TITULO-ORGANIZACION'][idioma] }}</h3>
				</div>
				
				<div class="form-group">
					<label for="estructura_sesiones">{{ traducciones['ESTRUCTURA'][idioma] }}</label><br>
					<textarea class="form-control" id="estructura_sesiones" name="estructura_sesiones" rows="4" cols="50"
					placeholder="{{ traducciones['ESCRIBIR-SESION'][idioma] }}"></textarea>
				</div>

				<div class="form-group">
					<label for="aspectos_adicionales">{{ traducciones['ASPECTOS'][idioma] }}</label><br>
					<textarea class="form-control" id="aspectos_adicionales" name="aspectos_adicionales" rows="4" cols="50"
					placeholder="{{ traducciones['ESCRIBIR-ASPECTOS'][idioma] }}"></textarea>
				</div>

				<div class="d-flex justify-content-center">
					<h3>{{ traducciones['TITULO-VALORACION'][idioma] }}</h3>
				</div>

				<div class="form-group">
					<label for="entretenimiento">{{ traducciones['ENTRETENIMIENTO'][idioma] }}</label>
					<select class="form-control" id="entretenimiento" name="entretenimiento" required>
						<option value="">{{ traducciones['OPCION'][idioma] }}</option>
						<option value="{{ traducciones['EXCELENTE'][idioma] }}">{{ traducciones['EXCELENTE'][idioma] }}</option>
						<option value="{{ traducciones['MUY_ALTO'][idioma] }}">{{ traducciones['MUY_ALTO'][idioma] }}</option>
						<option value="{{ traducciones['SENCILLO'][idioma] }}">{{ traducciones['SENCILLO'][idioma] }}</option>
						<option value="{{ traducciones['REGULAR'][idioma] }}">{{ traducciones['REGULAR'][idioma] }}</option>
						<option value="{{ traducciones['MUY_BAJO'][idioma] }}">{{ traducciones['MUY_BAJO'][idioma] }}</option>
					</select>
				</div>

				<div class="form-group">
					<label for="aprendizaje">{{ traducciones['APRENDIZAJE'][idioma] }}</label>
					<select class="form-control" id="aprendizaje" name="aprendizaje" required>
						<option value="">{{ traducciones['OPCION'][idioma] }}</option>
						<option value="{{ traducciones['EXCELENTE'][idioma] }}">{{ traducciones['EXCELENTE'][idioma] }}</option>
						<option value="{{ traducciones['MUY_ALTO'][idioma] }}">{{ traducciones['MUY_ALTO'][idioma] }}</option>
						<option value="{{ traducciones['SENCILLO'][idioma] }}">{{ traducciones['SENCILLO'][idioma] }}</option>
						<option value="{{ traducciones['REGULAR'][idioma] }}">{{ traducciones['REGULAR'][idioma] }}</option>
						<option value="{{ traducciones['MUY_BAJO'][idioma] }}">{{ traducciones['MUY_BAJO'][idioma] }}</option>
					</select>
				</div>
				
				<div class="form-group">
					<label for="complejidad_alumno">{{ traducciones['COMPLEJIDAD_ALUMNO'][idioma] }}</label>
					<select class="form-control" id="complejidad_alumno" name="complejidad_alumno" required>
						<option value="">{{ traducciones['OPCION'][idioma] }}</option>
						<option value="{{ traducciones['EXCELENTE'][idioma] }}">{{ traducciones['EXCELENTE'][idioma] }}</option>
						<option value="{{ traducciones['MUY_ALTO'][idioma] }}">{{ traducciones['MUY_ALTO'][idioma] }}</option>
						<option value="{{ traducciones['SENCILLO'][idioma] }}">{{ traducciones['SENCILLO'][idioma] }}</option>
						<option value="{{ traducciones['REGULAR'][idioma] }}">{{ traducciones['REGULAR'][idioma] }}</option>
						<option value="{{ traducciones['MUY_BAJO'][idioma] }}">{{ traducciones['MUY_BAJO'][idioma] }}</option>
					</select>
				</div>

				<div class="form-group">
					<label for="complejidad_instructores">{{ traducciones['COMPLEJIDAD_INSTRUCTORES'][idioma] }}</label>
					<select class="form-control" id="complejidad_instructores" name="complejidad_instructores" required>
						<option value="">{{ traducciones['OPCION'][idioma] }}</option>
						<option value="{{ traducciones['EXCELENTE'][idioma] }}">{{ traducciones['EXCELENTE'][idioma] }}</option>
						<option value="{{ traducciones['MUY_ALTO'][idioma] }}">{{ traducciones['MUY_ALTO'][idioma] }}</option>
						<option value="{{ traducciones['SENCILLO'][idioma] }}">{{ traducciones['SENCILLO'][idioma] }}</option>
						<option value="{{ traducciones['REGULAR'][idioma] }}">{{ traducciones['REGULAR'][idioma] }}</option>
						<option value="{{ traducciones['MUY_BAJO'][idioma] }}">{{ traducciones['MUY_BAJO'][idioma] }}</option>
					</select>
				</div>

				<div class="d-flex justify-content-center">
					<h3>{{ traducciones['TITULO-VIDEO'][idioma] }}</h3>
				</div>

				<div class="form-group">
					<label for="youtube_url">{{ traducciones['URL'][idioma] }}</label>
					<input type="text" class="form-control" id="youtube_url" name="youtube_url">
				</div>

				<div class="d-flex justify-content-center">
					<button type="submit" class="btn-añadir-juego">{{ traducciones['BTN-AÑADIR'][idioma] }}</button>
				</div>
				<div style="margin-bottom: 100px;"></div>
			</form>
		</div>
		
		<footer class="bg-light py-1 fixed-bottom">
			<div class="container-fluid">
				<div class="row justify-content-between">
					<div class="col-md-3 col-12 text-left">{{ traducciones['FOOTER'][idioma] }}</div>
					<div class="col-md-6 col-12 text-center">
						<img src="/static/img/escudo-politecnica.gif" alt="Escudo ingeniería informática" style="max-width: 7%;">
					</div>
					<div class="col-md-3 col-12 text-right">Estela Victoria Ballester Delgado</div>
				</div>
			</div>
		</footer>
	</body>
</html>