<!DOCTYPE html>
<html>
  <head>
    <title>{{ traducciones['TITULO-INICIO'][idioma] }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body class="fondo-login">
    <header class="d-flex justify-content-center align-items-center p-3">
      <img src="/static/img/logo_UBU.png" alt="Logo de la Universidad de Burgos" style="max-width: 7%;" class="mx-auto">
    </header>
    <div class="container py-5">
      <div class="text-center mb-4">
        <h1 class="mb-5 color-texto">{{ traducciones['TITULO-INICIO'][idioma] }}</h1>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
          {% if error_usuario_existe %}
            <div class="alert alert-danger text-center">{{ error_usuario_existe['USUARIO-EXISTE'][idioma] }}</div>
          {% endif %}
          {% if error_contraseña_condiciones %}
            <div class="alert alert-danger text-center">{{ error_contraseña_condiciones['CONTRASEÑA'][idioma] }}</div>
          {% endif %}
          {% if error_contraseñas_no_coinciden %}
            <div class="alert alert-danger text-center">{{ error_contraseñas_no_coinciden['NO-COINCIDEN'][idioma] }}</div>
          {% endif %}
          <form action="{{ url_for('registro_post', idioma=idioma) }}" method="POST">
            <div class="form-group">
              <label class="color-texto" for="usuario">{{ traducciones['USUARIO'][idioma] }}</label>
              <input type="text" id="usuario" name="usuario" class="form-control" maxlength="50" required>
            </div>
            <div class="form-group">
              <label class="color-texto" for="nombre">{{ traducciones['NOMBRE'][idioma] }}</label>
              <input type="text" id="nombre" name="nombre" class="form-control" maxlength="50" required>
            </div>
            <div class="form-group">
              <label class="color-texto" for="apellido">{{ traducciones['APELLIDO'][idioma] }}</label>
              <input type="text" id="apellido" name="apellido" class="form-control" maxlength="50" required>
            </div>
            <div class="form-group">
              <label class="color-texto" for="institucion">{{ traducciones['INSTITUCION'][idioma] }}</label>
              <input type="text" id="institucion" name="institucion" class="form-control" maxlength="50">
            </div>
            <div class="form-group">
              <label class="color-texto" for="contraseña">{{ traducciones['CONTRA'][idioma] }}</label>
              <input type="password" id="contraseña" name="contraseña" class="form-control" maxlength="25" required>
            </div>
            <div class="form-group">
              <label class="color-texto" for="confirmar_contraseña">{{ traducciones['CONFIRMAR_CONTRA'][idioma] }}</label>
              <input type="password" id="confirmar_contraseña" name="confirmar_contraseña" class="form-control"
                maxlength="25" required>
            </div>
            <div class="text-center mb-4">
              <button type="submit" class="btn-crear">{{ traducciones['BTN-CREAR'][idioma] }}</button>
            </div>
          </form>
          <p class="mt-3 color-texto">{{ traducciones['BTN-CUENTA'][idioma] }} <a class="color-amarillo"
              href="login?idioma={{idioma}}">{{ traducciones['BTN-LOGIN'][idioma] }}</a></p>
          <div style="margin-bottom: 50px;"></div>
      </div>
    </div>
  </body>
</html>