<!DOCTYPE html>
<html>
	<head>
		<title>{{ traducciones['INICIO'][idioma] }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	</head>
	<body class="fondos">
		<header class="d-flex justify-content-between align-items-center p-3">
			<a href="acerca_de?idioma={{idioma}}"><button class="btn-mn">{{ traducciones['ACERCA'][idioma] }}</button></a>
			<img src="/static/img/logo_UBU.png" alt="Logo de la Universidad de Burgos" style="max-width: 7%;"
				class="mx-auto">
			<div>
				<a href="logout" class="btn-mn">{{ traducciones['BTN-CERRAR-SESION'][idioma] }}</a>
			</div>
		</header>
		<main class="container">
			<div class="py-3 text-center">
				<h1 class="color-texto">{{ traducciones['TITULO-INICIO'][idioma] }}</h1>
			</div>
			<section class="py-3">
				<div class="d-flex justify-content-center">
					<h3 class="color-texto">{{ informacion_juego[1] }}</h3>
				</div>
				<div class="table-responsive">
					<table class="table table-bordered">
						<tbody>
							<tr>
								<th class="color-texto">{{ traducciones['ENLACE'][idioma] }}</th>
								<td class="color-texto"><a href="{{ informacion_juego[4] }}" target="_blank">{{
										informacion_juego[4] }}</a></td>
							</tr>
							<tr>
								<th class="color-texto">{{ traducciones['PUNTUACION'][idioma] }}</th>
								<td class="color-texto">{{ informacion_juego[5] }}</td>
							</tr>
							{% if informacion_juego[30] != None %}
							<tr>
								<th class="color-texto">{{ traducciones['ARCHIVO'][idioma] }}</th>
								<td class="color-texto"><a
										href="{{ url_for('descargar_instrucciones', filename=informacion_juego[30]) }}">{{
										traducciones['DESCARGAR-ARCHIVO'][idioma] }}</a></td>
							</tr>
							{%endif%}
						</tbody>
					</table>
				</div>
			</section>
			<section class="py-3">
				<div class="d-flex justify-content-center">
					<h3 class="color-texto">{{ traducciones['TITULO-CATEGORIZACION'][idioma] }}</h3>
				</div>
				<div class="table-responsive">
					<table class="table table-bordered">
						<tbody>
							<tr>
								<th class="color-texto">{{ traducciones['DISCIPLINA'][idioma] }}</th>
								<td class="color-texto">{{ informacion_juego[6] }}</td>
							</tr>
							<tr>
								<th class="color-texto">{{ traducciones['NATURALEZA'][idioma] }}</th>
								<td class="color-texto">{{ informacion_juego[7] }}</td>
							</tr>
							<tr>
								<th class="color-texto">{{ traducciones['IDIOMA'][idioma] }}</th>
								<td class="color-texto">{{ informacion_juego[3] }}</td>
							</tr>
							<tr>
								<th class="color-texto">{{ traducciones['PRECIO'][idioma] }}</th>
								<td class="color-texto">{{ informacion_juego[8] }}</td>
							</tr>
							<tr>
								<th class="color-texto">{{ traducciones['ISNTRUCCIONES_JUGADOR'][idioma] }}</th>
								{% if informacion_juego[9] == "Sí" or informacion_juego[9] == "Yes" %}
								{% if informacion_juego[28] != None %}
								<td class="color-texto">{{ informacion_juego[9] }} <a
										href="{{ url_for('descargar_instrucciones', filename=informacion_juego[28]) }}">{{
										traducciones['DESCARGAR-JUGADOR'][idioma] }}</a></td>
								{%else%}
								<td class="color-texto">{{ informacion_juego[9] }} </td>
								{% endif %}
								{%else%}
								<td class="color-texto">{{ informacion_juego[9] }}</td>
								{% endif %}
							</tr>
							<tr>
								<th class="color-texto">{{ traducciones['ISNTRUCCIONES_INSTRUCTOR'][idioma] }}</th>
								{% if informacion_juego[10] == "Sí" or informacion_juego[10] == "Yes" %}
								{% if informacion_juego[29] != None %}
								<td class="color-texto">{{ informacion_juego[10] }} <a
										href="{{ url_for('descargar_instrucciones', filename=informacion_juego[29]) }}">{{
										traducciones['DESCARGAR-INSTRUCTOR'][idioma] }}</a></td>
								{%else%}
								<td class="color-texto">{{ informacion_juego[10] }} </td>
								{% endif %}
								{%else%}
								<td class="color-texto">{{ informacion_juego[10] }}</td>
								{% endif %}

							</tr>
						</tbody>
					</table>
				</div>
			</section>
			<section class="py-3">
				<div class="d-flex justify-content-center">
					<h3 class="color-texto">{{ traducciones['TITULO-DESCRIPCION'][idioma] }}</h3>
				</div>
				<div class="table-responsive">
					<table class="table table-bordered">
						<tbody>
							<tr>
								<th class="color-texto">{{ traducciones['DESCRIPCION'][idioma] }}</th>
								<td class="color-texto">{{ informacion_juego[2] }}</td>
							</tr>
							<tr>
								<th class="color-texto">{{ traducciones['OBJETIVOS'][idioma] }}</th>
								<td class="color-texto">{{ informacion_juego[11] }}</td>
							</tr>
							<tr>
								<th class="color-texto">{{ traducciones['ESPACIO_CONTROL'][idioma] }}</th>
								<td class="color-texto">{{ informacion_juego[12] }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</section>
			<section class="py-3">
				<div class="d-flex justify-content-center">
					<h3 class="color-texto">{{ traducciones['TITULO-APRENDIZAJE'][idioma] }}</h3>
				</div>
				<div class="table-responsive">
					<table class="table table-bordered">
						<tbody>
							<tr>
								<th class="color-texto">{{ traducciones['OBJETIVOS_PRINCIPALES'][idioma] }}</th>
								<td class="color-texto">{{ informacion_juego[13] }}</td>
							</tr>
							<tr>
								<th class="color-texto">{{ traducciones['OBJETIVOS_SECUNDARIOS'][idioma] }}</th>
								<td class="color-texto">{{ informacion_juego[14] }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</section>
			<section class="py-3">
				<div class="d-flex justify-content-center">
					<h3 class="color-texto">{{ traducciones['TITULO-ORGANIZACION'][idioma] }}</h3>
				</div>
				<div class="table-responsive">
					<table class="table table-bordered">
						<tbody>
							<tr>
								<th class="color-texto">{{ traducciones['ESTRUCTURA'][idioma] }}</th>
								<td class="color-texto">{{ informacion_juego[15] }}</td>
							</tr>
							<tr>
								<th class="color-texto">{{ traducciones['ASPECTOS'][idioma] }}</th>
								<td class="color-texto">{{ informacion_juego[16] }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</section>
			<section class="py-3">
				<div class="d-flex justify-content-center">
					<h3 class="color-texto">{{ traducciones['TITULO-VALORACION'][idioma] }}</h3>
				</div>
				<div class="table-responsive">
					<table class="table table-bordered">
						<tbody>
							<tr>
								<th class="color-texto">{{ traducciones['ENTRETENIMIENTO'][idioma] }}</th>
								<td class="color-texto">{{ informacion_juego[17] }}</td>
							</tr>
							<tr>
								<th class="color-texto">{{ traducciones['APRENDIZAJE'][idioma] }}</th>
								<td class="color-texto">{{ informacion_juego[18] }}</td>
							</tr>
							<tr>
								<th class="color-texto">{{ traducciones['COMPLEJIDAD_ALUMNO'][idioma] }}</th>
								<td class="color-texto">{{ informacion_juego[19] }}</td>
							</tr>
							<tr>
								<th class="color-texto">{{ traducciones['COMPLEJIDAD_INSTRUCTORES'][idioma] }}</th>
								<td class="color-texto">{{ informacion_juego[20] }}</td>
							</tr>
						</tbody>
					</table>
					<div style="margin-bottom: 100px;"></div>
				</div>
			</section>
			{% if informacion_juego[21] %}
			<div class="d-flex justify-content-center">
				<h1 class="color-texto">{{ traducciones['TITULO-VIDEO'][idioma] }}</h1>
			</div>
			<div class="embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item"
					src="https://www.youtube.com/embed/{{ informacion_juego[21].split('v=')[-1] }}"
					allowfullscreen></iframe>
			</div>
			<div style="margin-bottom: 100px;"></div>
			{% endif %}
	</body>
</html>